/api_key
venv
/backend/__pycache__
/uploads
/frontend/.next
/frontend/node_modules
.vscode/launch.json
/backend/venv
/backend/uploads
/backend/api_key
/backend/transcription_db.sqlite
frontend.zip
transcription_db.sqlite
backend/.env
backend/app_auth.py
backend/app_auth2.py
backend/app_proxied.py
